<div *ngIf="labelsForm" [formGroup]="labelsForm">
	<div formArrayName="labels">
		<ul class="list-group">
			<mat-checkbox class="list-group-item bg-transparent"
                    *ngFor="let label of projectLabels; index as i"
                    [formControlName]="i">
				<li >
					<p> <span [style.background-color]="label.colorHex"></span> {{ label.name }}</p>
					<p class="description">{{ label.description }}</p>
				</li>
			</mat-checkbox>
		</ul>
	</div>
	<button mat-button (click)="save()">Save</button>
</div>
