<div class="text-wrapper">
  <mat-tab-group animationDuration="0ms" dynamicHeight color="transparent">
    <mat-tab label="Write">
          <textarea
            [(ngModel)]="markdown"
            placeholder="Write a comment"
            #markdownFocus>
          </textarea>
    </mat-tab>
    <mat-tab label="Preview">
      <ng-template matTabContent>
        <markdown
          [data]="markdown"
        >
          Nothing to preview
        </markdown>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <button *ngIf="commentType === inputCommentType.commenting; else updating"
          class="submit-button"
          mat-raised-button
          color="accent"
          (click)="saveComment(markdown)">Submit</button>
  <ng-template #updating>
    <button class="submit-button"
            mat-raised-button
            color="accent"
            (click)="cancelCommentUpdate()">Cancel</button>
    <button class="submit-button"
            mat-raised-button
            color="accent"
            (click)="updateComment(markdown)">Update</button>
  </ng-template>
</div>
