<form [formGroup]="projectForm" (ngSubmit)="updateProject()">
  <label for="title">Title
    <input id="title" type="text" formControlName="title" (input)="checkIfBothUpdated()">
  </label>
  <br>

  <label for="description" class="description" >Description
    <input id="description" type="text" formControlName="description" (input)="checkIfBothUpdated()">
  </label>
  <br>
  <button class="submit-button"
          mat-raised-button color="accent"
          type="submit"
          [disabled]="!updatable || !projectForm.valid">Update project</button>

</form>
<div class="danger-zone">
  <p>To delete the project, input project name and press delete</p>
  <input (paste)="(false)" type="text" [formControl]="deleteProjectInput">
  <button mat-raised-button
          color="accent"
          class="danger-button"
          [disabled]="!deleteProjectInput.valid"
          (click)="deleteProject()">Delete project</button>
</div>
