<app-issue-header (stringToSearch)="onSearchKeyPressed($event)">
</app-issue-header>
<h2>
  <div class="left">
  {{project?.title}} issues
  </div>
  <div class="right">
    <button mat-button (click)="editParentProject()">
      <ng-container *ngIf="project?.owner?.id === currentUser?.id">
        <mat-icon>settings</mat-icon>
      </ng-container>
    </button>
    <div ngbDropdown>
      <button
        ngbDropdownToggle
        mat-button
        class="button-width"
        style="float: right">
        Sort
        <mat-icon class="expand_more">expand_more</mat-icon>
      </button>
      <div ngbDropdownMenu>
        <button
          ngbDropdownItem
          (click)="sortDataSource('title', 'asc')"
        >
          <span>Ascending</span>
        </button>
        <button
          ngbDropdownItem
          (click)="sortDataSource('title', 'desc')"
        >
          <span>Descending</span>
        </button>
        <button
          ngbDropdownItem
          (click)="sortDataSource('created', 'asc')"
        >
          <span>Newest</span>
        </button>
        <button
          ngbDropdownItem
          (click)="sortDataSource('created', 'desc')"
        >
          <span>Oldest</span>
        </button>
        <button
          ngbDropdownItem
          (click)="sortDataSource('commentNumber', 'desc')"
        >
          <span>Most commented</span>
        </button>
        <button
          ngbDropdownItem
          (click)="sortDataSource('commentNumber', 'asc')"
        >
          <span>Least commented</span>
        </button>
      </div>
    </div>
    <div ngbDropdown>
      <button
        ngbDropdownToggle
        mat-button
        class="button-width"
        style="float: right">
        Labels
        <mat-icon class="expand_more">expand_more</mat-icon>
      </button>
      <div ngbDropdownMenu>
        <button
          ngbDropdownItem
        >
          <span>Bug</span>
        </button>
        <button
          ngbDropdownItem
        >
          <span>Issue</span>
        </button>
      </div>
    </div>
    <div ngbDropdown>
      <button
        ngbDropdownToggle
        mat-button
        class="button-width"
        style="float: right">
        Author
        <mat-icon class="expand_more">expand_more</mat-icon>
      </button>
      <div ngbDropdownMenu>
        <button
          ngbDropdownItem
        >
          <span>hrvojet</span>
        </button>
        <button
          ngbDropdownItem
        >
          <span>htrcak</span>
        </button>
      </div>
    </div>
  </div>
</h2>
<div class="example-table-container">
  <table mat-table
         [dataSource]="dataSource"
         matSort
         matSortActive="id"
         matSortDisableClear
         matSortDirection="asc">

    <!--<ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>-->

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="{{row.id}}" class="hoover-effect">
          {{row.title}}
        </a>
        <br>
        <span class="fade-color">
          #{{row.id}} opened by
          <span class="hoover-effect">
            {{row.originalPoster.username}}
          </span> <span title="{{row!.edited | date: 'dd/MM/YYYY, HH:mm'}}">{{row.created | dateAgo}}</span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="commentNumber">
      <th mat-header-cell *matHeaderCellDef>Number of comments</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="{{row.id}}" class="hoover-effect fade-color">
          <mat-icon>forum</mat-icon> {{row.commentNumber}}
        </a>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [length]="resultsLength"
    [pageSizeOptions]="[10, 25, 50, 100]"
  ></mat-paginator>
</div>
