:host(app-project) {
  display: block;
  margin: 12px auto 0;
  overflow: auto;
}

/* input search*/

.search-input {
  background-color: #333339;
  color: white;
  display: flex;
  align-items: center;
  padding: 12px 0 12px;
}

input {
  height: 36px;
  flex: 1;
  border: 1px solid var(--main-green-color);
  border-radius: 4px;
  background-color: var(--item-background-color);
  color: white;
  text-indent: 18px;
  margin-left: 24px;
}

input:focus {
  height: 36px;
  border: 2px solid var(--main-green-color);
  outline: none;
}

button {
  background-color: var(--main-green-color);
  color: white !important;
}

button:last-of-type {
  margin-left: 18px;
  margin-right: 12px;
}

/* TODO add TABLE!*/


h2 {
  margin: 8px 0 8px !important;
}

h2 a {
  color: var(--main-green-color);
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

h2 mat-icon {
  float: right;
  color: var(--text-fade-color);
}

h2 mat-icon:hover {
  color: white;
}

p {
  margin-bottom: 0;
}

table {
  width: 100%;
}

table td.mat-cell {
  color: white;
  background-color: #333339;
  border-bottom-width: 0;
}

tr.mat-row {
  height: 121px;
}

mat-icon {
  line-height: 23px;
}

.hoover-effect:hover {
  border-bottom: 2px solid var(--main-green-color);
}

.mat-paginator {
  background-color: var(--main-background-color);
  color: white;
}

/* Popover */

:host ::ng-deep .popover-body, .popover-arrow {

  box-shadow: 0 0 2px var(--main-green-color);
  background-color: var(--item-background-color);
  color: var(--text-focus-color);
  border: 1px solid var(--main-green-color);
  border-radius: 6px;
  font-size: 16px;
}

.pop {
  color: white;
}

.pop span {
  color: var(--text-focus-color);
}

.more-info {
  margin-right: 14px;
}

.more-info:hover {
  color: var(--main-purple-color);
}

:host ::ng-deep .mat-icon-button {
  color: var(--main-green-color);
}

:host ::ng-deep .mat-button-disabled {
  color: #313136 !important;
}

:host ::ng-deep .mat-paginator-container {
  justify-content: center;
  color: white;
}

:host ::ng-deep .mat-paginator-range-label {
  display: none !important;
}
