<div class="search-input">
  <input
    placeholder="{{searchPlaceholder}}"
    (keyup.enter)="searchByProjectName($event)"
  >
  <button
    mat-button
    (click)="goToNewProject()"
  >New project</button>
</div>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortActive="edited"
>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let row; let i = index">
      <h2>
        <a routerLink="/projects/{{row.id}}"> {{row.title}}</a>
        <ng-container *ngIf="!favouritesTab">
          <mat-icon *ngIf="row.favourite; else unstar" (click)="removeFromFavourites(row.id, i)" fontIcon="star"></mat-icon> <!-- <mat-icon fontIcon="star"></mat-icon> -->
          <ng-template #unstar>
            <mat-icon fontIcon="star_outlined" (click)="addToFavourite(row.id, i)"></mat-icon>
          </ng-template>
        </ng-container>
      </h2>
      <div class="fade-color">
        <p style="margin-bottom: 14px">{{row.description}}</p>
        <p>
          <mat-icon title="Opened issues">archive</mat-icon>{{row.openedIssues}}&nbsp;&nbsp;
          <mat-icon title="Closed issues">inventory_2</mat-icon>{{row.closedIssues}}&nbsp;&nbsp;
          <span title="{{row!.edited | date: 'dd/MM/YYYY, HH:mm'}}">
            <span *ngIf="row!.edited !== row!.created; else created">Updated</span>
            <ng-template #created>Created</ng-template>
            {{row.edited | dateAgo}}</span>
        </p>
      </div>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div>
  <mat-paginator
    [length]="resultsLength"
    [hidePageSize]="true"
    [pageSize]="15"
    aria-label="Select page"
  ></mat-paginator><!-- TODO hide when resultsLength is less than 50 -->
</div>

<!--
[ngStyle]="{'background-color': (resultsLength > 1) ? 'red' : 'blue'}"
[ngStyle]="{'visibility': (resultsLength > 1) ? 'hidden' : 'show'}"
-->
