<ng-container *ngIf="labels" class="table-wrapper">
  <table mat-table [dataSource]="labels" multiTemplateDataRows>

    <ng-container matColumnDef="name">
      <td mat-cell *matCellDef="let row">
        <div
          *ngIf="expandedLabel !== row; else editingLabel"
          class="label-badge"
          [style.background-color]="row.colorHex + '49'"
          [style.color]="row.colorHex  + 'ff'"
          [style.border]="'1px solid' + row.colorHex"
        >{{row.name}}
        </div>
        <ng-template #editingLabel>
          <div
            class="label-badge"
            [style.background-color]="currentlyEditingLabel!.colorHex + '49'"
            [style.color]="currentlyEditingLabel!.colorHex  + 'ff'"
            [style.border]="'1px solid' + currentlyEditingLabel!.colorHex"
          >{{currentlyEditingLabel!.name}}
          </div>
        </ng-template>
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <td mat-cell
          *matCellDef="let row"><span [ngStyle]="{'visibility': expandedLabel === row ? 'hidden' : 'visible'}">{{row.description}}</span></td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <td mat-cell *matCellDef="let label" aria-label="expand row">
        <div class="shown-buttons">
          <button mat-button
                  style="background-color: var(--main-green-color)"
                  [ngStyle]="{'visibility': expandedLabel !== label ? 'visible' : 'hidden'}"
                  aria-label="expand row"
                  (click)="(expandedLabel = expandedLabel === label ? null : label); setCurrentlyEditingLabel(label); $event.stopPropagation()"
          >Edit label
          </button>
          <button mat-button
                  style="background-color: var(--main-purple-color)"
                  (click)="deleteRow(label)">Delete</button>
        </div>
      </td>
    </ng-container>

    <!-- expanded label column-->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let label" [attr.colspan]="displayedColumnsWithExpand.length">
        <div class="label-detail"
             [@detailExpand]="label == expandedLabel ? 'expanded' : 'collapsed'">
          <div class="expanded-label-shown">
            <label>Name
            <input type="text"
                   maxlength="33"
                   [formControl]="name"
                   (input)="onNameInputChange(name)"
                   />
            </label>
            <label>
              Description
            <input type="text"
                   [formControl]="description"
                   (input)="onDescriptionInputChange(description)"/>
            </label>
            <label>
              Color
            <input type="text"
                   [formControl]="colorHex"
                   (input)="onColorInputChange(colorHex)"/>
            </label>
            <div class="expanded-buttons">
              <button mat-button
                      style="background-color: var(--main-green-color)"
                      (click)="expandedLabel = expandedLabel === label ? null : label; saveLabel()">Save</button>
              <button mat-button
                      style="background-color: var(--item-light-background-color)"
                      (click)="expandedLabel = expandedLabel === label ? null : label; cancelLabelEdit()">Cancel</button>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let label; columns: displayedColumnsWithExpand;"
        class="label-row"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="edit-row"></tr>
  </table>
</ng-container>
