<mat-card>
  <mat-card-header>
    <mat-card-title>
      search...
    </mat-card-title>
  </mat-card-header>
</mat-card>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  matSortActive="created"
>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let row">
      <h2><a routerLink="/projects/{{row.id}}"> {{row.title}}</a></h2>
      <div class="fade-color">
        <p style="margin-bottom: 14px">{{row.description}}</p>
        <p>
          <mat-icon title="Opened issues">archive</mat-icon>{{row.openedIssues}}&nbsp;&nbsp;
          <mat-icon title="Closed issues">inventory_2</mat-icon>{{row.closedIssues}}&nbsp;&nbsp;
          <span title="{{row!.created | date: 'dd/MM/YYYY, HH:mm'}}">Created {{row.created | dateAgo}}</span>
        </p>
      </div>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [length]="resultsLength"
  [pageSizeOptions]="[10, 25, 50, 100]"
></mat-paginator>
