:host(app-project) {
  max-width: 1220px;
  display: block;
  margin: 46px auto 0;
  overflow: auto;
}

/* TODO add TABLE!*/

.mat-card {
  background-color: #333339;
  color: white;
}

h2 {
  margin: 8px 0 8px !important;
}

h2 a {
  color: var(--main-green-color);
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

h2 mat-icon {
  float: right;
  color: var(--text-fade-color);
}

h2 mat-icon:hover {
  color: white;
}

p {
  margin-bottom: 0;
}

table {
  width: 100%;
}

table td.mat-cell {
  color: white;
  background-color: #333339;
  border-bottom-width: 0;
}

tr.mat-row {
  height: 121px;
}

mat-icon {
  line-height: 23px;
}

.hoover-effect:hover {
  border-bottom: 2px solid var(--main-green-color);
}

.mat-paginator {
  background-color: var(--main-background-color);
  color: white;
}

:host ::ng-deep .mat-paginator-icon {
  color: var(--main-green-color);
}

:host ::ng-deep .mat-paginator-container {
  justify-content: center;
  color: white;
}

:host ::ng-deep .mat-paginator-range-label {
  display: none !important;
}

@media only screen and (max-width: 1280px) {
  :host(app-project) {
    width: 96%;
  }
}
