:host(app-project) {
  max-width: 1220px;
  display: block;
  margin: 46px auto 0;
  overflow: auto;
}

/* TODO add TABLE!*/

.mat-card {
  background-color: #333339;
  color: white;
}

table {
  width: 100%;
}

table td.mat-cell {
  color: white;
  background-color: #333339;
}

tr.mat-row {
  height: 111px;
}

mat-icon {
  line-height: 23px;
}

.hoover-effect:hover {
  border-bottom: 2px solid var(--main-green-color);
}

.mat-paginator {
  background-color: #37373c;
  color: white;
}

@media only screen and (max-width: 1280px) {
  :host(app-project) {
    width: 96%;
  }
}
