.footer-toolbar {
  height: 69px;
}

footer {
  color: var(--text-fade-color);
  font-weight: lighter;
  font-size: 18px;
}

app-footer {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.footer-copyright {
  margin-top: 8px;
}

@media (max-width: 792px) {
  footer {
    font-size: 14px;
  }
}
