<mat-toolbar class="mat-toolbar">
	<mat-toolbar-row>
		<header>
			<div class="left">
				<button mat-icon-button
                (click)="goToHome()"
                color="primary"><mat-icon>home</mat-icon> <span class="home-button">debugee</span> </button>
			</div>
			<div class="right">
        <button *ngIf="!isUserLogged; else loggedIn" mat-raised-button color="accent" (click)="login()">
          Login with GitLab
        </button>
        <ng-template #loggedIn>
          <div ngbDropdown>
            <button
              ngbDropdownToggle
              class="new-menu"
              mat-mini-fab>
              <mat-icon>add</mat-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="goToNewProject()">
                New project
              </button>
            </div>
          </div>
          <div ngbDropdown>
            <button
              ngbDropdownToggle
              class="user-menu"
              mat-mini-fab
              [style.background-image]="'url(' + currentUser?.avatar_url + ')'">
              <!--<img src="{{currentUser?.avatar_url}}" alt="{{currentUser?.username}}">-->
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button disabled ngbDropdownItem class="username">{{currentUser?.username}}</button>
              <button ngbDropdownItem>
                <span>Settings</span>
              </button>
              <button
                ngbDropdownItem
                (click)="logout()"
                class="logout-button"
              >
                <span>Logout</span>
              </button>
            </div>
          </div>
        </ng-template>
			</div>
		</header>
	</mat-toolbar-row>
</mat-toolbar>
