header {
  width: inherit;
	display: flex;
	justify-content: space-between;
}

.new-menu, .user-menu {
  margin-left: 12px;
}

.new-menu {
  background-color: var(--item-background-color);
  background-repeat: no-repeat;
}

.user-menu {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logout-button {
  color: #fc7272 !important;
}

.logout-button:hover {
  color: white !important;
  background-color: var(--main-purple-color) !important;
}

.left {
	flex: 1;
	display: flex;
	justify-content: left;
}

.right {
	flex: 1;
	display: flex;
	justify-content: right;
}

mat-toolbar mat-toolbar-row {
	color: #ffffff;
}

caption {
	margin: 0 14px 0 14px;
}

.home-button {
  font-size: 22px;
}
