app-issue {
  max-width: 1220px;
  display: block;
  margin: 46px auto 0;
  border: 1px solid #5aae3d;
  border-radius: 6px;
  overflow: auto;
}

h2 {
  background-color: #28282c;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #5aae3d;
  padding: 12px 0 12px 12px;
}

table {
  width: 100%;
}

app-issue table td.mat-cell {
  color: white;
  background-color: #37373c;
}

td {
  border-bottom: 1px solid #37373c;
  height: 67px;
}

td:last-child {
  width: 5%;
}

td .mat-icon {
  display: inline;
  font-size: 15px;
}

td.mat-cell {
  border-bottom: 1px solid #5aae3d;
}

cdk-row .mat-row:hover {
  background-color: red;
}

.mat-paginator {
  background-color: #37373c;
  color: white;
}

a {
  text-decoration: none;
}

/**/

.fade-color {
  color: #939393;
}

@media only screen and (max-width: 1220px) {
  app-issue {
    width: 96%;
  }
}
