:host(app-issue) {
  max-width: 1220px;
  display: block;
  margin: 46px auto 0;
  overflow: auto;
}

h2 {
  background-color: var(--item-background-color);
  margin-bottom: 0 !important;
  border-top: 1px solid var(--main-green-color);
  border-left: 1px solid var(--main-green-color);
  border-right: 1px solid var(--main-green-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 12px 0 12px 22px;
  color: var(--text-fade-color);
  display: flex;
  justify-content: space-between;
}

h2 .left {
  flex: 3;
  display: flex;
  justify-content: left;
}

h2 .right {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

table {
  width: 100%;
  border: 1px solid var(--main-green-color);
}

table td.mat-cell {
  color: white;
  background-color: #333339;
}

td {
  height: 67px;
}

td:last-child {
  width: 5%;
}

td .mat-icon {
  display: inline;
  font-size: 15px;
}

td.mat-cell {
  border-bottom: 1px solid var(--main-green-color);
}

cdk-row .mat-row:hover {
  background-color: red;
}

.mat-paginator {
  background-color: #37373c;
  color: white;
  border-bottom: 1px solid var(--main-green-color);
  border-left: 1px solid var(--main-green-color);
  border-right: 1px solid var(--main-green-color);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

a {
  text-decoration: none;
}

/*Effects*/

.hoover-effect:hover {
  color: var(--main-green-color);
  cursor: pointer;
}

@media only screen and (max-width: 1280px) {
  :host(app-issue) {
    width: 96%;
  }
}
