<h1>
  {{issue?.title}} <span class="fade-color"> #{{issue?.id}}</span>
<p class="fade-color">
  {{issue?.originalPoster?.username}} opened this issue on {{comments?.[0]?.created | date}} &#x2022; {{comments?.length}} comments
</p>
</h1>
<article *ngFor="let comment of comments" class="comment">
  <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="{{comment?.author?.username}}">
  <div class="text-wrapper">
    <h3>{{comment?.author?.username}}<span class="fade-color"> commented on {{comment?.created | date}}</span></h3>
    <p>
      {{comment?.text}}
    </p>
  </div>
</article>
<article class="userInput">
  <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="username">
  <div class="text-wrapper">
    <h3>header</h3>
    <p>Write your own comment</p>
  </div>
</article>
<div class="clear"></div>
