<h1 class="main-header">
  {{issue?.title}} <span class="fade-color"> #{{issue?.id}}</span>
<p class="fade-color">
  {{issue?.originalPoster?.username}} opened this issue on<!-- TODO i18n --> {{comments?.[0]?.created | date}} &#x2022; {{comments?.length}} comments
</p>
</h1>
<main>
  <article *ngFor="let comment of comments" class="comment">
    <span
      (mouseover)="getUserInfo(comment.author)"
      matTooltip="{{usersHooverInfo.get(comment.author.id) ? usersHooverInfo.get(comment.author.id)?.username : 'user'}}"
      [matTooltipPosition]="'right'"
      style="height: min-content"
    >
      <img src="{{comment?.author?.avatar_url}}" alt="{{comment?.author?.username}}">
    </span>
    <div class="text-wrapper">
      <h3 class="sub-header">{{comment?.author?.username}}<span class="fade-color">
         <span *ngIf="comment!.edited !== comment!.created; else commented"> edited <span class="underline-date" title="{{comment!.edited | date: 'dd/MM/YYYY, HH:mm'}}">{{comment!.edited | dateAgo}}</span></span></span>
        <ng-template #commented>
          commented <span class="underline-date" title="{{comment!.created | date: 'dd/MM/YYYY, HH:mm'}}">{{comment!.created | dateAgo}}</span>
        </ng-template>
        <div ngbDropdown container="body" class="ngb-menu-item">
          <button
            class="button-width"
            mat-button
            ngbDropdownToggle>
            <mat-icon class="more-horiz">more_horiz</mat-icon>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              ngbDropdownItem
              (click)="quoteComment(comment)"
            >
              <span>Quote reply</span>
            </button>
            <ng-container *ngIf="currentUser?.id === comment?.author?.id">
              <button
                ngbDropdownItem
              >
                <span>Edit</span>
              </button>
              <button
                ngbDropdownItem
                class="button-delete"
                (click)="deleteOwnComment(comment)"
              >
                <span>Delete</span>
              </button>
            </ng-container>
          </div>
        </div>
      </h3>
      <markdown [data]="comment?.text">
      </markdown>
    </div>
  </article>
  <article class="userInput">
    <img src="{{currentUser?.avatar_url}}" alt="username">
    <div class="text-wrapper">
      <mat-tab-group animationDuration="0ms" dynamicHeight color="transparent">
        <mat-tab label="Write">
          <textarea
            [(ngModel)]="markdown"
            placeholder="Write a comment"
          >
          </textarea>
        </mat-tab>
        <mat-tab label="Preview">
          <ng-template matTabContent>
            <markdown
              [data]="markdown"
            >
              Nothing to preview
            </markdown>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    <button class="submit-button"
      mat-raised-button
      color="accent"
      (click)="saveComment()"
      [disabled]="!markdown"
    >Submit</button>
    </div>
  </article>
</main>
<aside>
  <div>
    <h4 class="fade-color">Labels</h4>
    <span *ngIf="containsLabels; else showLabels">None yet</span>
    <ng-template #showLabels>
    <div *ngFor="let label of issue?.labels"
      class="label-badge"
      [style.background-color]="label!.colorHex + '49'"
      [style.color]="label!.colorHex  + 'ff'"
      [style.border]="'1px solid' + label!.colorHex"
    >{{label!.name}}
    </div>
    </ng-template>
  </div>
  <hr>
  <div>
    <h4 class="fade-color">Participants</h4>
    <span
      *ngFor="let user of participants"
      style="margin: 0 4px"
      (mouseover)="getUserInfo(user)"
      matTooltip="{{usersHooverInfo.get(user.id) ? usersHooverInfo.get(user.id)?.username : 'user'}}">
      <img src="{{user?.avatar_url}}"
           alt="{{user.username}}"
      >
    </span>
  </div>
</aside>
<div class="clear"></div>
