<h1 class="main-header">
  <div *ngIf="!editingTitle; else edit">
    <div class="title-flex">
      <div>
        <span class="fade-color"> #{{issue?.id}}</span> {{issue?.title}}
      </div>
        <button mat-button
                *ngIf="issue && currentUser.id === issue.originalPoster.id"
                color="primary"
                class="edit-button"
                (click)="editTitle()">Edit</button>
    </div>
  </div>
  <ng-template #edit >
    <div class="title-flex">
      <input focusAfterRender
             style="font-size: 14px;"
             [(ngModel)]="title">
      <button mat-button
              color="primary"
              class="edit-button"
              style="margin-right: 4px"
              [disabled]="title === issue?.title"
              (click)="updateTitle()">Update</button>
      <button mat-button
              color="primary"
              class="edit-button"
              (click)="cancelTitleEdit()">Cancel</button>
    </div>
  </ng-template>
<p class="fade-color">
  {{issue?.originalPoster?.username}} opened this issue on<!-- TODO i18n --> {{issue?.created | date}} &#x2022; {{comments?.length}} comments
</p>
</h1>
<main>
  <article *ngFor="let comment of comments; index as i" class="comment">
    <span
      (mouseover)="getUserInfo(comment.author)"
      matTooltip="{{usersHooverInfo.get(comment.author.id) ? usersHooverInfo.get(comment.author.id)?.username : 'user'}}"
      [matTooltipPosition]="'right'"
      style="height: min-content"
    >
      <img src="{{comment?.author?.avatar_url}}" alt="{{comment?.author?.username}}">
    </span>
    <div class="text-wrapper">
      <h3 class="sub-header">{{comment?.author?.username}}<span class="fade-color">
         <span *ngIf="comment!.edited !== comment!.created; else commented"> edited <span class="underline-date" title="{{comment!.edited | date: 'dd/MM/YYYY, HH:mm'}}">{{comment!.edited | dateAgo}}</span></span></span>
        <ng-template #commented>
          commented <span class="underline-date" title="{{comment!.created | date: 'dd/MM/YYYY, HH:mm'}}">{{comment!.created | dateAgo}}</span>
        </ng-template>
        <div ngbDropdown container="body" class="ngb-menu-item">
          <button
            class="button-width"
            mat-button
            ngbDropdownToggle>
            <mat-icon class="more-horiz">more_horiz</mat-icon>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              ngbDropdownItem
              (click)="quoteComment(comment)"
            >
              <span>Quote reply</span>
            </button>
            <ng-container *ngIf="currentUser?.id === comment?.author?.id">
              <button
                ngbDropdownItem
                (click)="editComment(i)"
              >
                <span>Edit</span>
              </button>
              <button
                ngbDropdownItem
                class="button-delete"
                (click)="deleteOwnComment(comment)"
              >
                <span>Delete</span>
              </button>
            </ng-container>
          </div>
        </div>
      </h3>
        <app-input-comment
          *ngIf="editingCommentIndex !== null && editingCommentIndex === i; else preview"
          (updatedComment)="updateComment($event)"
          [commentType]="inputCommentType.editing"
          [comment]="comment">
        </app-input-comment>
        <ng-template #preview>
          <markdown [data]="comment?.text"></markdown>
        </ng-template>
    </div>
  </article>
  <article *ngIf="issue && issue.opened" class="userInput">
    <img src="{{currentUser.avatar_url}}" alt="username">
    <div class="text-wrapper">
      <app-input-comment
        (saveNewComment)="saveComment($event)"
        [commentType]="inputCommentType.commenting">
      </app-input-comment>
    </div>
  </article>
</main>
<aside>
  <div>
    <h4 class="fade-color hoover-effect" (click)="openLabelDialog()">Labels <mat-icon style="float: right">settings</mat-icon></h4>
    <span *ngIf="issue?.labels?.length === 0; else showLabels">None yet</span>
    <ng-template #showLabels>
    <div *ngFor="let label of issue?.labels"
      class="label-badge"
      [style.background-color]="label!.colorHex + '49'"
      [style.color]="label!.colorHex  + 'ff'"
      [style.border]="'1px solid' + label!.colorHex"
    >{{label!.name}}
    </div>
    </ng-template>
  </div>
  <hr>
  <div>
    <h4 class="fade-color">Participants</h4>
    <span
      *ngFor="let user of participants"
      style="margin: 0 4px"
      (mouseover)="getUserInfo(user)"
      matTooltip="{{usersHooverInfo.get(user.id) ? usersHooverInfo.get(user.id)?.username : 'user'}}">
      <img src="{{user?.avatar_url}}"
           alt="{{user.username}}"
      >
    </span>
  </div>
  <hr>
  <ng-container *ngIf="issue && (issue.originalPoster.id === currentUser.id || project.owner.id === currentUser.id)">
  <div>
    <span class="hoover-effect" (click)="openDeleteDialog()"> <mat-icon style="font-size: 22px">delete_outlined</mat-icon> Delete</span>
  </div>
  <div>
    <span class="hoover-effect"
          (click)="openCloseIssueDialog()">
      <span *ngIf="issue?.opened; else open"><mat-icon style="font-size: 22px">lock_outlined</mat-icon> Close issue</span>
      <ng-template #open>
        <span ><mat-icon style="font-size: 22px">lock_open_right</mat-icon> Open issue</span>
      </ng-template>
    </span>
  </div>
  </ng-container>
</aside>
<div class="clear"></div>
