:host(app-comment) {
  max-width: 1220px;
  display: block;
  margin: 15px auto 0;
}

.main-header {
  margin: 12px 0 46px;
}

.main-header {
  border-bottom: 1px solid var(--main-green-color);
}

.main-header p {
  font-size: 14px;
}

.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-button {
  height: 30px;
  line-height: 30px;
  background-color: var(--item-light-background-color);
  color: white !important;
}

.edit-button:hover:enabled {
  background-color: var(--main-green-color);
}

.edit-button:disabled {
  opacity: 0.3 !important;
}

.main-header input {
  height: 30px;
  flex: 1;
  border: 1px solid var(--main-green-color);
  margin-right: 2%;
  border-radius: 4px;
  background-color: var(--item-background-color);
  color: white;
  text-indent: 18px;
  margin-bottom: 2px;
}

.main-header input:focus {
  height: 30px;
  border: 2px solid var(--main-green-color);
  outline: none;
}

main {
  /* TODO comments are wrapped in main, set aside for additional content (two columns)*/
  width: 70%;
  float: left;
}

aside {
  width: 28%;
  float: right;
}

aside .label-badge {
  display: inline-block;
  border: 1px;
  padding: 1px 13px 1px 13px;
  margin: 0 2px 0 2px;
  border-radius: 25px;
}

article {
  margin-bottom: 15px;
  border-radius: 6px;
  display: flex;
}

img {
  margin-top: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.underline-date:hover {
  cursor: pointer;
  color: var(--main-green-color);
  border-bottom: 1px solid var(--main-green-color);
}

.ngb-menu-item {
  display: inline-block;
  float: right;
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--item-background-color);
}

.text-wrapper {
  border: 1px solid var(--main-green-color);
  width: 100%;
  margin-left: 9px;
  margin-bottom: 22px;
  border-radius: 6px;
  overflow: hidden;
}

.text-wrapper .sub-header {
  padding: 5px 22px 5px;
  border-bottom: 1px solid var(--main-green-color);
  font-size: 14px;
  background-color: var(--item-background-color);
  margin-bottom: 0;
  color: white;
}

:host ::ng-deep .mat-tab-label, :host ::ng-deep .mat-tab-link {
  color: white;
}

:host ::ng-deep .mat-tab-label:hover, :host ::ng-deep .mat-tab-link:hover {
  color: var(--main-green-color);
}

/* tab-headers start */

:host ::ng-deep .mat-tab-nav-bar, :host ::ng-deep .mat-tab-header {
  border-bottom: none;
}

:host ::ng-deep .mat-tab-label, :host ::ng-deep .mat-tab-labels {
  background-color: var(--main-background-color);
}

:host ::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: var(--item-background-color);
  text-decoration: solid underline var(--main-green-color);
  border-radius: 6px;
}

:host ::ng-deep .mat-ink-bar {
  transition: none !important;
  display: none !important;
}
/* tab-headers end */

:host ::ng-deep mat-tab-group {
  min-height: 160px;
  border-bottom: none;
}

/* TODO delete */
textarea {
  background-color: #151515;
  color: white;
  border-radius: 4px;
  width: 98%;
  min-height: 100px;
  box-sizing: border-box;
  margin: 6px 0 0 1%;
  border: 1px solid var(--main-green-color);
  resize: vertical;
  overflow: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

:host ::ng-deep markdown {
  display: block;
  padding: 8px 22px 8px 22px;
  background-color: var(--main-background-color);
}

:host ::ng-deep markdown > * {
  margin: 12px 4px 12px 0;
}


:host ::ng-deep markdown blockquote {
  border-left: 2px solid var(--main-green-color);
  font-style: italic;
  padding-left: 12px;
}

.more-horiz {
  font-size: 18px;
}

.button-width:hover {
  color: var(--main-green-color) !important;
}

:host ::ng-deep .mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  color: white;
  background-color: var(--mat-menu-background-color);
}

:host ::ng-deep .mat-menu-panel {
  background-color: var(--mat-menu-background-color) !important;
  height: inherit;
  min-height: 48px !important;
}

:host ::ng-deep .mat-menu-item{
  line-height:35px;
  height:35px;
  color: white;
  background-color: var(--mat-menu-background-color);
}

:host ::ng-deep .mat-tooltip {
  background-color: var(--mat-menu-background-color);
}

hr {
  background-color: var(--main-green-color);
  margin: 18px 0 18px;
  height: 1px;
  border: none;
}

/* Effects */
.hoover-effect:hover {
  color: var(--main-green-color);
  cursor: pointer;
}

h4 mat-icon {
  transform: scale(0.85);
}

@media only screen and (max-width: 1280px) {
  :host(app-comment) {
    width: 96%;
  }
}
