/* You can add global styles to this file, and also import other style files */

html {
	height: 100%;
	background-color: #37373c;
}

.mat-toolbar {
	background-color: #28282CFF;
}

mat-toolbar-row {
	display: flex;
	justify-content: center;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	color: #d0d0d0;
  position: relative;
  min-height: 100%;
}

footer {
}

mat-icon {
  vertical-align: middle;
}

a {
  color: #ffffff;
}

.clear { clear: both; height: 70px; }
