/* You can add global styles to this file, and also import other style files */
:root {
  --main-background-color: #313136;
  --toolbar-background-color: #28282CFF;
  --item-background-color: #3e3e45;

  --text-focus-color: #d0d0d0;
  --text-fade-color: #939393;

  --main-green-color: #5aae3d;
  --main-purple-color: #783691;

  --mat-menu-background-color: #28282c;
}

html {
	height: 100%;
	background-color: var(--main-background-color);
}

.mat-toolbar {
	background-color: var(--toolbar-background-color);
}

mat-toolbar-row {
	display: flex;
	justify-content: center;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	color: var(--text-focus-color);
  position: relative;
  min-height: 100%;
}

footer {
}

mat-icon {
  vertical-align: middle;
}

a {
  color: #ffffff;
}

.clear { clear: both; height: 70px; }
